.recording-item {
  padding: 1rem;
}

.recording-item:hover {
  background-color: #252525;
  cursor: pointer;
}

.recording-item__img {
  width: 250px;
  height: 175px;
  object-fit: contain;
}

.recording-item__img-border {
  border: 1px solid white;
}

.recording-item__label {
  color: white;
}