.record-button--active {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
}

.record-button__icon--active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}

.record-button__ring--active {
  transform: rotate(-90deg);
  stroke-dasharray: 177;
  stroke-dashoffset: 177;
  animation-name: fill-in;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes fill-in {
  to {
    stroke-dashoffset: 0;
  }
}
