.sticky-header-list {
  overflow: scroll;
  height: 100%;
}

.sticky-header-list__header {
  color: black;
  background-color: #ededed;
  font-weight: bold;
  padding: 1rem .5rem;
  border-bottom: 1px solid #dad6d6;
  position: sticky;
  top: 0;
}

.sticky-header-list__item:not(:last-child) {
  border-bottom: 1px solid white;
}