.app__media-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app__media-preview--low-priority {
  z-index: -1;
}

.app__media-preview--high-priority {
  z-index: 1;
}
