.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-height: 6rem;
}

.navbar--sticky-bottom {
  position: fixed;
  bottom: 0;
}

.navbar--pull-right {
  justify-content: flex-end;
}

.navbar--pull-center {
  justify-content: center;
}
