.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
  padding: 1rem;
  box-sizing: border-box;
}

.navbar--sticky-bottom {
  position: fixed;
  z-index: 1000;
  bottom: 0;
}

.navbar__content {
  display: flex;
}

.navbar__content--right {
  justify-content: flex-end;
}
