.recordings-panel {
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
}

.recordings-panel__header {
  position: relative;
  top: 1.5px;
}

.recordings-panel__content {
  background-color: black;
  width: 50%;
  height: 100%;
  float: right;
  position: relative;
}

@media screen and (min-width: 1025px) {
  .recordings-panel__content {
    width: 60%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .recordings-panel__content {
    width: 75%;
  }
}

@media screen and (max-width: 767px) {
  .recordings-panel__content {
    width: 100%;
  }
}